<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spor Kursları Ana Sayfa</title>
    <link rel="stylesheet" href="~/css/homepagestyle.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Hoş Geldiniz</h1>
        </div>
    </header>

    <section id="hero">
        <div class="container">
            <h1>Sağlığın İçin Bize Katıl</h1>
            <p>Spor kursları kayıtlarımız başladı. Hedeflerinize ulaşmak için bizimle birlikte olun.</p>
            <a href="/Course/CoursePage" class="btn">Kurslarımız hakkında detaylı bilgi için tıklayın</a>
        </div>
    </section>


    <footer>
        <div class="container">
            <p>&copy; 2024 Spor Kursları. Tüm hakları saklıdır.</p>
        </div>
    </footer>
</body>
</html>
