<nav class="navbar navbar-expand-sm navbar-dark bg-success">
            <div class="container">
                <a href="/" class="navbar-brand">Spor Kursları</a>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Course/CoursePage" class="nav-link">Kurslarımız</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Instructor/InstructorLogin" class="nav-link">Eğitmen Girişi</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Student/StudentLogin" class="nav-link">Öğrenci Girişi</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Login" class="nav-link">Admin Girişi</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Account/Register" class="nav-link">Kayıt Ol</a>
                    </li>
                </ul>
                
                
            </div>
        </nav>

        